//
//  ImpactMeterAdapterTests.xcconfig
//  ImpactMeterAdapter
//
//  Created by Matt Massicotte on 2020-10-11.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "xcconfigs/UniversalFramework_Test.xcconfig"

PRODUCT_NAME = ImpactMeterAdapterTests
PRODUCT_BUNDLE_IDENTIFIER = com.chimehq.ImpactMeterAdapterTests
PRODUCT_MODULE_NAME = ImpactMeterAdapterTests

INFOPLIST_FILE = ImpactMeterAdapterTests/Info.plist
